{% extends "base.html" %}

{% block content %}
  <h1>Tasks</h1>
  <table>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
      <th>Deadline</th>
      <th>Priority</th>
      <th>Done</th>
    </tr>
    {% for task in page_obj %}
      <tr>
        <td>{{ task.name }}</td>
        <td>{{ task.task_type }}</td>
        <td>{{ task.description }}</td>
        <td>{{ task.deadline }}</td>
        <td>{{ task.priority }}</td>
        <td>{{ task.is_completed }}</td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="3">No workers available</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}