{% extends "base.html" %}

{% block content %}
  <h1>Workers</h1>
  <table>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Position</th>
    </tr>
    {% for worker in page_obj %}
      {% if not worker.is_superuser %}
        <tr>
          <td>{{ worker.first_name }}</td>
          <td>{{ worker.last_name }}</td>
          <td>{{ worker.position }}</td>
        </tr>
      {% endif %}
    {% empty %}
      <tr>
        <td colspan="3">No workers available</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}